<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD PROJECT</title>
    </head>
    <body style="background-color: bisque;">
        <div style="background-color: black; text-align: center; margin: 250px; padding: 10px; border-radius: 10px;"
        title="click on CRUD PROJECT">
            <p style="color: aliceblue;">To start project - Kindly click on CRUD PROJECT </p>
            <a href="records/" style=" font-size: 40px; text-decoration: none;" >CRUD PROJECT</a>
            <p style="color: aliceblue;">OLAYIWOLA SULAIMON - CDTC0348</p>
        </div>
        <div>
            
        </div>
    </body>
</html>